.signindiv{
    background-image: url("https://media.istockphoto.com/id/1304940346/photo/united-states-black-flag-with-shallow-depth-of-field-protests-protest-concept-poster-to-raise.jpg?s=612x612&w=0&k=20&c=z6dgoaTlzEj2RbkcVLGsojNsK0-BLve_r0msshrWZNI=");
    color: white;
    border-radius: 8px;
    border: 7px solid black;
    font-size: 25px;
}

.topicbtn{
    color: rgb(167, 22, 22);
}