/* body {
    background-color: #ffffff;

    background-attachment: fixed;
    background-size: cover;
    font-family: "Times New Roman", Times, serif;
} */
html, body {
    margin: 0;
    padding: 0;
} 